# Ignora as bibliotecas do Vue e do Strapi
node_modules/
frontend/node_modules/
meu-cms/node_modules/

# Ignora arquivos temporários e de build
.tmp/
.cache/
dist/
build/

# Ignora o banco de dados local do Strapi (para não subir pro GitHub)
.tmp/data.db
meu-cms/.tmp/
meu-cms/.cache/

# Arquivos de sistema
.DS_Store
.env